@font-face {
    font-family: 'DS-Digitalec5945d691b303';
    src: url('5a24f898f629d91afc4477d7.gif?r=60765977094');
    src: url('5a24f898f629d91afc4477d7.gif?r=60765977094?#iefix') format('embedded-opentype'),url('5a24f898f629d91afc4477d7.png') format('woff2'),url('5a24f898f629d91afc4477d7.bmp?r=60765977094') format('woff'),url('5a24f898f629d91afc4477d7.jpg?r=60765977094') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cssec5945d691b303 {
    font-family: 'DS-Digitalec5945d691b303';
}
